.footer-section{
    background-color: whitesmoke;
    color: #5607b6;
}

.footer-area{
    padding: 20px 0;
}
.logo{
    font-size: 2rem;
    padding: 5px 0;
}

.footer-menu{
    margin: 10px 0;
    padding: 10px 0;
}

.footer-menu a{
    text-decoration: none;
    color: #5607b6;
    display: block;
    margin: 10px 0;
    padding: 5px 2px;
    font-size: 1.2em;
}
.icons{
    margin-right: 20px;
    font-size: 1.5rem;
}