.notFoundgit{
    background-image: url('../../images/notfound.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100vh;
}
.padding{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 250px 0;
    font-size: 7rem;
}

.padding p{
    font-size: 2rem;
}